body {
    padding: 0;
    margin: 0;
    background-color: rgb(247, 246, 246);
}

.Input {
    display: flex;
    padding-top: 350px;
    width: 100%;
    
}
section {
    padding-top: 30px;
    padding-left: 100px;
}

.dashboard-container {
    display: flex;
    margin-top: 64px;
    margin-left: 128px;
    padding: 10px;
    gap: 40px;
}


.form {
    width: 200px;
    margin: 0 auto;
    align-self: center;
}
.form .button {
    margin-top: 8px;
    width: 200px;
}

.form input {
    width: 200px;
}

.card-title {
    padding-top: 20px;
  
}

h4 {
    padding-top: 30px;
}